.meal {
    width: 65%;
    margin: auto;
    /* text-align: center; */
    margin-top: 10px;
    padding: 5px 30px 5px 30px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    transition: 0.3s
}
.meal:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.meal-name {
    font-weight: bold;
    font-size: 30px;
    margin: 15px 15px 15px 0;
}

.meal-price {
    color: green;
    margin: 15px 15px 15px 0;
    font-size: 24px;
}

.meal-desc {
    font-style: italic;
    font-size: 16px;
    margin: 15px 15px 15px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-form {
    align-self: flex-end;
}

@media only screen and (max-width: 951px) {
    .meal {
        text-align: center;
        width: 70%;
    }

    .flex-container {
        display: block;

    }
}

@media only screen and (max-width: 760px) {
    .meal {
        width: 100%;
    }



}