.summary {
  font-size:16px;
  text-align: center;
  max-width: 45rem;
  width: 60%;
  margin: auto;
  margin-top: -1.3rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: whitesmoke;
  border-radius:20px;
  background-color: #333333;
  padding: 1rem;
}
h1{
  font-size:35px;
  font-family: 'Pacifico', cursive;
}
@media only screen and (max-width: 1024px) {
  .summary {
    width: 60%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
    .summary {
      width: 100%;
      margin-top: 0;
    }
  }