.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25)
}

.modal-slide{
    animation: slide-down 300ms ease-out forwards;
}

/* Modal Content/Box */
.modal-content {
    font-size: 16px;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #F1F1F1;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    

    /* Could be more or less, depending on screen size */
}

p {
    font-size: 17px;
    font-weight: bold;
}

.item-list {
    min-height: 10rem;
    max-height: 30rem;
    overflow: scroll;
    overflow-x: hidden;
}

.modal-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.modal-p {
    font-size: 16px;
    margin-bottom: 25px;
}

.modal-footer {
    font-size: 12px;
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Thelw na emfanizetai ayto mono thn prwth fora pou ginetai render. mallon kapws use effect. */
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.float-right {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
}


.clearfix {
    clear: both;
}

.total-amount {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {

    .modal-content {
        width: 100%;
    }
}