    .primary-button {
        font-size: 16px;
        border: none;
        background-color: inherit;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        background: #f44336;
        color: white;
        padding: 10px 15px 10px 15px;
        transition: background 0.3s;
        margin: 5px 3px 5px 3px;
    }

    .primary-button:hover {
        background: #d60e00;
    }

    .primary-button:disabled:hover,
    .primary-button:disabled,
    .primary-button:disabled:active {
        background-color: #ccc;
        border: none;
        cursor: not-allowed;
    }


    .confirm-button {
        background: #01b671;
    }

    .confirm-button:hover {
        background: #00d684;
    }